@{
    ViewData["Title"] = "Quản lý thành viên hệ thống";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model List<TestWebAPI.DTOs.User.GetUserSystemDTO>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Quản lý thành viên hệ thống
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
            <li><a href="#">Quản lý thành viên hệ thống</a></li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-xs-12">
            <div class="box p-4">
                <div class="box-body table-responsive no-padding">
                    <table class="table-hover table" id='table_panigation'>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Vai trò</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thời gian tham gia</th>
                                <th scope="col">Quản Lý</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr id="@user.id">
                                    <th scope="row"></th> <!-- This should have a value or removed if not needed -->
                                    <td>@user.first_name @user.last_name</td>
                                    <td>@user.email</td>
                                    <td>@user.phone</td>
                                    <td>
                                        <img style="margin-top: 1rem; height: 5rem;" src="@user.avatar" alt="avatar">
                                    </td>
                                    <td>@(user.dataRole != null ? user.dataRole.value : "No Role")</td>
                                    <td>@if (user.type == TypeUser.activity)
                                        {
                                            <span class="badge bg-green-500">Sử dụng</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-red-500">Đóng băng</span>

                                        }
                                    </td>
                                    <td>
                                        @user.createdAt
                                    </td>
                                    <td class="flex items-center gap-2" style="line-height: 2.5">
                                        <a asp-controller="User" asp-action="AssignPermissions" asp-route-Id="@user.id" class="btn btn-info btn-sm">Cấp vai trò</a>
                                        <a asp-controller="User" asp-action="Edit" asp-route-Id="@user.id" class="btn btn-warning btn-sm">Sửa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
