@{
    ViewData["Title"] = "Quản lý thành viên hệ thống";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model List<TestWebAPI.DTOs.User.GetUserDTO>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Quản lý thành viên hệ thống
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
            <li><a href="#">Quản lý thành viên hệ thống</a></li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table-hover table" id='table_panigation'>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Vai trò</th>
                                <th scope="col">Quản Lý</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr id="@user.id">
                                    <th scope="row"></th>
                                    <td>
                                        @user.first_name @user.last_name
                                    </td>
                                    <td>
                                        @user.first_name @user.last_name
                                    </td>
           
                                    <td class="flex items-center gap-2" style="line-height: 2.5">
                                        <a asp-controller="User" asp-action="AssignPermissions" asp-route-Id="@user.id" class="btn btn-info btn-sm">Cấp vai trò</a>
                                        <a asp-controller="User" asp-action="Edit" asp-route-Id="@user.id" class="btn btn-warning btn-sm">Sửa</a>

                                        <form asp-action="Delete" method="post" asp-route-Id="@user.id">
                                            <input type="submit" value="Xóa" class="btn btn-danger btn-sm" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

